/*
 * Start Bootstrap - Business Frontpage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    background: url('../images/headerPicture.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */



.panel-style2 {
    border-style: solid;
    border-width: 1px;
    border-color: darkred;
    background-color: white;
    /*border-radius: 25px;*/
    color: darkred;
    
}

.header-style {
    /*text-shadow: 0 0 3px brown;*/
    color: #330000;
    text-align: center;
    font-family: Lucida Handwriting;
    font-size: 30px;
}

.brownhr{
    height: 2px;
    background-color: brown;
}

.hrstyle {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

.text-style {
    text-align: left;
    color: #330000;
}

.text-style2 {
    text-align: right;
    color: #330000;
}

.button-color{
    background-color: darkred;
    border-color: darkred;
   
}


.img-style{
    width:100px;
    height:100px;
}

.big-img-style{
    width:390px;
    height:380px;
    border-style: solid;
    border-width: 1px;
    border-color: darkred;
}

.bigger-img-style{
    width:290px;
    height:280px;
    
}

.img-center {
    margin: 0 auto;
}


footer {
    width: 100%;
    padding: 6px 0px;
    background-color: brown;
    
}

#content{
    width: 50%;
    margin: 20px auto;
    border: 1px solid #cbcbcb;
}

form{
    width: 50%;
    margin: 20px auto;
}

form_div{
    margin-top: 5px;
}

#img_div{
    width: 80%;
    padding: 3px;
    margin: 7px auto;
    border: 1px solid #cbcbcb;
}

#img_div:after{
    content: "";
    display: block;
    clear: both;
}

